<?php echo $header; ?>
<?php echo $nav; ?>
<div class="container">
    <div class="banner-img banner-img-size">
        <div class="page-breadcum">
            <?php for($i = 0; $i < count($breadcrumbs); $i++) : ?>
            <?php if($i != (count($breadcrumbs) - 1)) : ?>
            <?php if($i == 0) : ?>
            <a href="<?php echo $breadcrumbs[$i]['href']; ?>"><?php echo $breadcrumbs[$i]['text']; ?></a>
            <?php else : ?>
            <i class="fa fa-chevron-right"></i>
            <a href="<?php echo $breadcrumbs[$i]['href']; ?>"><?php echo $breadcrumbs[$i]['text']; ?></a>
            <?php endif; ?>
            <?php else : ?>
            <i class="fa fa-chevron-right"></i>
            <?php echo $breadcrumbs[$i]['text']; ?>
            <?php endif; ?>
            <?php endfor; ?>
        </div>
    </div>
    <div class="about-desc-section">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="about-section">
                            <h3 class="heading">History Of Rotary</h3>
                            <div class="horizontal-break"></div>
                            <div class="about-detail">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna
                                    aliqua. Ut enim ad minim veniam, quis nostrud exercitatipn exercia
                                    exercitatipn Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                    eiusmod
                                    tempor
                                    incididunt ut labore et dolore magna
                                    aliqua. Ut enim ad minim veniam, quis nostrud exercitatipn exercia
                                    exercitatipn...<a href="" class="project-box-button">Read More</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<?php echo $footer; ?>