<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="<?php echo $lang; ?>" dir="<?php echo $direction; ?>">

<head>

    <!--=========================*
                Met Data
    *===========================-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <?php if($description) : ?>
    <meta name="description" content="<?php echo $description; ?>">
    <?php endif; ?>
    <?php if($keywords) : ?>
    <meta name="keywords" content="<?php echo $keywords; ?>">
    <?php endif; ?>


    <!--=========================*
              Page Title
    *===========================-->
    <title><?php echo $title; ?></title>
    <!-- <base href="<?php echo $base; ?>" /> -->

    <!--=========================*
                Favicon
    *===========================-->
    <link rel="shortcut icon" type="image/x-icon" href="<?php echo $icon; ?>">

    <!--=========================*
            Bootstrap Css
    *===========================-->
    <link href="template/view/dist/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="template/view/dist/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">

    <!--=========================*
              Custom CSS
    *===========================-->
    <link href="template/view/dist/css/style.css" rel="stylesheet" type="text/css">
    <!-- <link href="template/view/dist/css/375-media.css" rel="stylesheet" type="text/css"> -->
    <link href="template/view/dist/css/responsive.css" rel="stylesheet" type="text/css">
    <!--=========================*
               Owl CSS
    *===========================-->
    <link rel="stylesheet" type="text/css" href="template/view/dist/plugins/owl.carousel/assets/owl.carousel.css" />
    <link rel="stylesheet" type="text/css"
        href="template/view/dist/plugins/owl.carousel/assets/owl.theme.default.css" />
    <link rel="stylesheet" type="text/css" href="template/view/dist/plugins/owl.carousel/assets/owl.theme.green.css" />

    <!--=========================*
               Font icon
    *===========================-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" />


    <!--=========================*
              datatable CSS
    *===========================-->
    <link href="template/view/dist/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="template/view/dist/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" />

</head>