<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="<?php echo $lang; ?>" dir="<?php echo $direction; ?>">
<head>
    <!--=========================*
                Met Data
    *===========================-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <?php if($description) : ?>
    <meta name="description" content="<?php echo $description; ?>">
    <?php endif; ?>
    <?php if($keywords) : ?>
    <meta name="keywords" content="<?php echo $keywords; ?>">
    <?php endif; ?>
    <!--=========================*
              Page Title
    *===========================-->
    <title><?php echo $title; ?></title>
    <!-- <base href="<?php echo $base; ?>" /> -->

    <!--=========================*
                Favicon
    *===========================-->
    <link rel="shortcut icon" type="image/x-icon" href="<?php echo $icon; ?>">

    <!--=========================*
            Bootstrap Css
    *===========================-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!--=========================*
              Custom CSS
    *===========================-->
    <link rel="stylesheet" href="template/view/dist/css/style.css">
    <!--=========================*
               Owl CSS
    *===========================-->
    <link rel="stylesheet" href="template/view/dist/plugins/owl.carousel/assets/owl.carousel.css">
    <link rel="stylesheet" href="template/view/dist/plugins/owl.carousel/assets/owl.theme.default.css">
    <link rel="stylesheet" href="template/view/dist/plugins/owl.carousel/assets/owl.theme.green.css">

    <!--=========================*
               Font icon
    *===========================-->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>