<?php echo $header; ?>
<?php echo $nav; ?>
<div class="container">
    <header>
        <div class="row">
            <div class="col-12">
                <h1 class="float-left">1<small>/4</small></h1>
                <h3>
                    <?php echo $heading_title; ?><br /><small>
                        <?php echo $text_step_1; ?></small>
                </h3>
            </div>
        </div>
    </header>

    <div class="row">
        <div class="col-sm-9">
            <h3>
                <?php echo $text_server; ?>
            </h3>
        </div>
    </div>
</div>
<?php echo $footer; ?>