<?php echo $header; ?>
<?php echo $nav; ?>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1><?php echo $heading_title; ?></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <?php for($i = 0; $i < count($breadcrumbs); $i++) : ?>
                        <?php if($i != (count($breadcrumbs) - 1)) : ?>
                        <?php if($i == 0) : ?>
                        <li class="breadcrumb-item">
                            <i class="nav-icon fa fa-home"></i>
                            <a href="<?php echo $breadcrumbs[$i]['href']; ?>">
                                <?php echo $breadcrumbs[$i]['text']; ?>
                            </a>
                        </li>
                        <?php else : ?>
                        <li class="breadcrumb-item">
                            <a href="<?php echo $breadcrumbs[$i]['href']; ?>">
                                <?php echo $breadcrumbs[$i]['text']; ?>
                            </a>
                        </li>
                        <?php endif; ?>
                        <?php else : ?>
                        <li class="breadcrumb-item active"><?php echo $breadcrumbs[$i]['text']; ?></li>
                        <?php endif; ?>
                        <?php endfor; ?>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <?php if ($warning_err) : ?>
                <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i>
                    <?php echo $warning_err; ?>
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
                <?php endif; ?>

                <div class="clearfix">
                    <div class="pull-right tableTools-container">
                        <button type="submit" form="form-user-group" data-toggle="tooltip"
                            title="<?php echo $button_save; ?>" class="btn btn-primary btn-bold"><i
                                class="fa fa-save"></i></button>
                        <a href="<?php echo $cancel; ?>" data-toggle="tooltip" title="<?php echo $button_cancel; ?>"
                            class="btn btn-default btn-bold"><i class="fa fa-reply"></i></a>

                    </div>
                </div>
            </div>
            <!-- right column -->
            <div class="col-12">
                <!-- Horizontal Form -->
                <div class="card card-info card-outline">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-pencil"></i>
                            <?php echo $text_form; ?>
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form action="<?php echo $action; ?>" method="POST" enctype="multipart/form-data"
                        id="form-user-group" class="form-horizontal">
                        <div class="card-body">
                            <div class="form-group row required">
                                <label for="input-email" class="col-sm-2 col-form-label">
                                    <?php echo $entry_email; ?></label>

                                <div class="col-sm-10">
                                    <input type="text" name="email" value="<?php echo $email; ?>"
                                        placeholder="<?php echo $entry_email; ?>" class="form-control"
                                        id="input-email" />
                                    <?php if($email_err) : ?>
                                    <span class="invalid-tooltip">
                                        <?php echo $email_err; ?></span>
                                    <?php endif; ?>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="input-user-group" class="col-sm-2 col-form-label">
                                    <?php echo $entry_user_group; ?></label>

                                <div class="col-sm-10">
                                    <select name="user_group_id" class="form-control" id="input-user-group">
                                        <?php foreach($user_groups as $user_group) : ?>
                                        <?php if($user_group['user_group_id'] == $user_group_id) : ?>
                                        <option value="<?php echo $user_group['user_group_id']; ?>" selected="selected">
                                            <?php echo $user_group['name']; ?>
                                        </option>
                                        <?php else : ?>
                                        <option value="<?php echo $user_group['user_group_id']; ?>">
                                            <?php echo $user_group['name']; ?>
                                        </option>
                                        <?php endif; ?>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row required">
                                <label for="input-name" class="col-sm-2 col-form-label">
                                    <?php echo $entry_name; ?></label>

                                <div class="col-sm-10">
                                    <input type="text" name="name" value="<?php echo $name; ?>"
                                        placeholder="<?php echo $entry_name; ?>" class="form-control" id="input-name" />
                                    <?php if($name_err) : ?>
                                    <span class="invalid-tooltip">
                                        <?php echo $name_err; ?></span>
                                    <?php endif; ?>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="input-image" class="col-sm-2 col-form-label">
                                    <?php echo $entry_image; ?></label>

                                <div class="col-sm-10">
                                    <div class="card image">
                                        <a href="" id="thumb-image" data-toggle="image">
                                            <img src="<?php echo $thumb; ?>" alt="" title="" id="thumb-image"
                                                data-placeholder="<?php echo $placeholder; ?>" class="card-img-top" />
                                        </a>
                                        <input type="hidden" name="image" value="<?php echo $image; ?>"
                                            id="input-image" />
                                        <!-- <div class="card-body">
                                            <button type="button" data-toggle="image" data-target="#input-image"
                                                data-thumb="#thumb-image" class="btn btn-primary btn-sm btn-block"><i
                                                    class="fas fa-pencil-alt"></i> <?php echo $button_edit; ?></button>
                                            <button type="button" data-toggle="clear" data-target="#input-image"
                                                data-thumb="#thumb-image" class="btn btn-warning btn-sm"><i
                                                    class="fas fa-trash-alt"></i> <?php echo $button_clear; ?></button>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row required">
                                <label for="input-password" class="col-sm-2 col-form-label">
                                    <?php echo $entry_password; ?></label>

                                <div class="col-sm-10">
                                    <input type="password" name="password" value="<?php echo $password; ?>"
                                        placeholder="<?php echo $entry_password; ?>" class="form-control"
                                        id="input-password" />
                                    <?php if($password_err) : ?>
                                    <span class="invalid-tooltip">
                                        <?php echo $password_err; ?></span>
                                    <?php endif; ?>
                                </div>
                            </div>
                            <div class="form-group row required">
                                <label for="input-confirm" class="col-sm-2 col-form-label">
                                    <?php echo $entry_confirm; ?></label>

                                <div class="col-sm-10">
                                    <input type="password" name="confirm" value="<?php echo $confirm; ?>"
                                        placeholder="<?php echo $entry_confirm; ?>" class="form-control"
                                        id="input-confirm" />
                                    <?php if($confirm_err) : ?>
                                    <span class="invalid-tooltip">
                                        <?php echo $confirm_err; ?></span>
                                    <?php endif; ?>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="input-status" class="col-sm-2 col-form-label">
                                    <?php echo $entry_status; ?></label>

                                <div class="col-sm-10">
                                    <select name="status" class="form-control" id="input-status">
                                        <?php if($status) : ?>
                                        <option value="0">
                                            <?php echo $text_disabled; ?>
                                        </option>
                                        <option value="1" selected="selected">
                                            <?php echo $text_enabled; ?>
                                        </option>
                                        <?php else : ?>
                                        <option value="0" selected="selected">
                                            <?php echo $text_disabled; ?>
                                        </option>
                                        <option value="1">
                                            <?php echo $text_enabled; ?>
                                        </option>
                                        <?php endif; ?>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </form>
                </div>
                <!-- /.box -->
            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<?php echo $footer; ?>