<?php echo $header; ?>
<?php echo $nav; ?>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1><?php echo $heading_title; ?></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <?php for($i = 0; $i < count($breadcrumbs); $i++) : ?>
                        <?php if($i != (count($breadcrumbs) - 1)) : ?>
                        <?php if($i == 0) : ?>
                        <li class="breadcrumb-item">
                            <i class="nav-icon fa fa-home"></i>
                            <a href="<?php echo $breadcrumbs[$i]['href']; ?>">
                                <?php echo $breadcrumbs[$i]['text']; ?>
                            </a>
                        </li>
                        <?php else : ?>
                        <li class="breadcrumb-item">
                            <a href="<?php echo $breadcrumbs[$i]['href']; ?>">
                                <?php echo $breadcrumbs[$i]['text']; ?>
                            </a>
                        </li>
                        <?php endif; ?>
                        <?php else : ?>
                        <li class="breadcrumb-item active"><?php echo $breadcrumbs[$i]['text']; ?></li>
                        <?php endif; ?>
                        <?php endfor; ?>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <?php if ($warning_err) : ?>
                <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i>
                    <?php echo $warning_err; ?>
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
                <?php endif; ?>

                <div class="clearfix">
                    <div class="float-right tableTools-container">
                        <button type="submit" form="form-team" data-toggle="tooltip"
                                title="<?php echo $button_save; ?>" class="btn btn-primary btn-bold"><i
                                class="fa fa-save"></i></button>
                        <a href="<?php echo $cancel; ?>" data-toggle="tooltip" title="<?php echo $button_cancel; ?>"
                           class="btn btn-default btn-bold"><i class="fa fa-reply"></i></a>

                    </div>
                </div>
            </div>
            <!-- right column -->
            <div class="col-12">
                <!-- Horizontal Form -->
                <div class="card card-info card-outline">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-pencil-alt"></i>
                            <?php echo $text_form; ?>
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form action="<?php echo $action; ?>" method="POST" enctype="multipart/form-data"
                          id="form-team" class="form-horizontal">
                        <div class="card-body">
                            <fieldset>
                                <div class="form-group row <?php echo (!empty($name_err)) ? 'has-error' : ''; ?>">
                                    <label for="input-name" class="col-sm-2 col-form-label"><?php echo $entry_name; ?> <span class="text-red">*</span></label>

                                    <div class="col-sm-10">
                                       
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="name" placeholder="<?php echo $entry_name; ?>" value="<?php echo $name; ?>" id="input-name">
                                        </div>
                                        <?php if(isset($name_err)) : ?>
                                        <span class="help-block"><?php echo $name_err; ?></span>
                                        <?php endif; ?>
                                       
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group row <?php echo (!empty($filename_err)) ? 'has-error' : ''; ?>">
                                    <label for="input-filename" class="col-sm-2 col-form-label"><?php echo $entry_filename; ?> <span class="text-red">*</span></label>

                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <input type="text" name="filename" value="<?php echo $filename; ?>" placeholder="<?php echo $entry_filename; ?>" id="input-filename" class="form-control" />
                                            <span class="input-group-btn">
                                                <button type="button" id="button-upload" data-loading-text="<?php echo $text_loading; ?>" class="btn btn-primary">
                                                    <i class="fa fa-upload"></i> Upload
                                                </button>
                                            </span>
                                        </div>
                                        <span class="help-block"><?php echo $filename_err; ?></span>
                                    </div>
                                </div>
                                <hr >
                                <div class="form-group row <?php echo (!empty($mask_err)) ? 'has-error' : ''; ?>">
                                    <label class="col-sm-2 col-form-label"><?php echo $entry_mask; ?> <span class="text-red">*</span></label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="mask" placeholder="<?php echo $entry_mask; ?>" value="<?php echo $mask; ?>">
                                        <span class="help-block"><?php echo $mask_err; ?></span>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <!-- /.box-body -->
                    </form>
                </div>
                <!-- /.box -->
            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<?php echo $footer; ?>
<script type="text/javascript">
    $('#button-upload').on('click', function() {
        $('#form-upload').remove();
    
        $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');
    
        $('#form-upload input[name=\'file\']').trigger('click');
    
        if (typeof timer != 'undefined') {
            clearInterval(timer);
        }
    
        timer = setInterval(function() {
            if ($('#form-upload input[name=\'file\']').val() != '') {
                clearInterval(timer);
    
                $.ajax({
                    url: 'index.php?url=catalog/gml/upload&user_token=<?php echo $user_token; ?>',
                    type: 'post',
                    dataType: 'json',
                    data: new FormData($('#form-upload')[0]),
                    cache: false,
                    contentType: false,
                    processData: false,
                    beforeSend: function() {
                        $('#button-upload').button('loading');
                    },
                    complete: function() {
                        $('#button-upload').button('reset');
                    },
                    success: function(json) {
                        if (json['error']) {
                            alert(json['error']);
                        }
    
                        if (json['success']) {
                            alert(json['success']);
    
                            $('input[name=\'filename\']').val(json['filename']);
                            $('input[name=\'mask\']').val(json['mask']);
                        }
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });
            }
        }, 500);
    });
    </script>