<?php echo $header; ?>
<?php echo $nav; ?>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1><?php echo $heading_title; ?></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <?php for($i = 0; $i < count($breadcrumbs); $i++) : ?>
                        <?php if($i != (count($breadcrumbs) - 1)) : ?>
                        <?php if($i == 0) : ?>
                        <li class="breadcrumb-item">
                            <i class="nav-icon fa fa-home"></i>
                            <a href="<?php echo $breadcrumbs[$i]['href']; ?>">
                                <?php echo $breadcrumbs[$i]['text']; ?>
                            </a>
                        </li>
                        <?php else : ?>
                        <li class="breadcrumb-item">
                            <a href="<?php echo $breadcrumbs[$i]['href']; ?>">
                                <?php echo $breadcrumbs[$i]['text']; ?>
                            </a>
                        </li>
                        <?php endif; ?>
                        <?php else : ?>
                        <li class="breadcrumb-item active"><?php echo $breadcrumbs[$i]['text']; ?></li>
                        <?php endif; ?>
                        <?php endfor; ?>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <?php if ($warning_err) : ?>
                <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i>
                    <?php echo $warning_err; ?>
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
                <?php endif; ?>

                <div class="clearfix">
                    <div class="float-right tableTools-container">
                        <button type="submit" form="form-category" data-toggle="tooltip"
                                title="<?php echo $button_save; ?>" class="btn btn-primary btn-bold"><i
                                class="fa fa-save"></i></button>
                        <a href="<?php echo $cancel; ?>" data-toggle="tooltip" title="<?php echo $button_cancel; ?>"
                           class="btn btn-default btn-bold"><i class="fa fa-reply"></i></a>

                    </div>
                </div>
            </div>
            <!-- right column -->
            <div class="col-12">
                <!-- Horizontal Form -->
                <div class="card card-info card-outline">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-pencil"></i>
                            <?php echo $text_form; ?>
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <form action="<?php echo $action; ?>" method="POST" enctype="multipart/form-data"
                              id="form-category" class="form-horizontal">

                            <ul class="nav nav-tabs mb-3">
                                <li class="nav-item"><a href="#tab-general" data-toggle="tab"
                                                        class="nav-link active"><?php echo $tab_general; ?></a>
                                </li>
                                <li class="nav-item"><a href="#tab-data" data-toggle="tab"
                                                        class="nav-link"><?php echo $tab_image; ?></a></li>

                                <li class="nav-item"><a href="#tab-seo" data-toggle="tab"
                                                        class="nav-link"><?php echo $tab_seo; ?></a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab-general">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="language<?php echo $language['language_id']; ?>">
                                            <div class="form-group row required">
                                                <label for="input-date" class="col-sm-2 col-form-label">
                                                    <?php echo $entry_date; ?></label>

                                                <div class="col-sm-10">
                                                    <?php $curr_date = date("Y-m-d");?>
                                                    <?php if ($date): ?>
                                                    <input type="date" name="date" value="<?php echo $date; ?>" class="form-control" id="input-date" />
                                                    <?php else : ?>
                                                    <input type="date" name="date" value="<?php echo $curr_date; ?>" class="form-control" id="input-date" />
                                                    <?php endif; ?>

                                                </div>
                                            </div>
                                            <div class="form-group row required">
                                                <label for="input-name"
                                                       class="col-sm-2 col-form-label"><?php echo $entry_name; ?></label>

                                                <div class="col-sm-10">
                                                    <input type="text"
                                                           name="project_name"
                                                           value="<?php echo $project_name;?>"
                                                           placeholder="<?php echo $entry_name; ?>" class="form-control"
                                                           id="input-name" />
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="input-description"
                                                       class="col-sm-2 col-form-label"><?php echo $entry_description; ?></label>

                                                <div class="col-sm-10">
                                                    <textarea
                                                        name="description"
                                                        placeholder="<?php echo $entry_description; ?>"
                                                        class="form-control"
                                                        id="input-description"
                                                        data-toggle="ckeditor" data-lang="<?php echo $ckeditor; ?>"><?php echo $description; ?></textarea>
                                                    <?php if(isset($title_footer_err)) : ?>
                                                    <div class="invalid-tooltip">
                                                        <?php echo $title_footer_err; ?></div>
                                                    <?php endif; ?>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="input-name"
                                                       class="col-sm-2 col-form-label"><?php echo $entry_url; ?></label>

                                                <div class="col-sm-10">
                                                    <input type="text"
                                                           name="project_url"
                                                           value="<?php echo $project_url;?>"
                                                           placeholder="<?php echo $entry_url; ?>" class="form-control"
                                                           id="input-name" />
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="input-sort-order"
                                                       class="col-sm-2 col-form-label"><?php echo $entry_sort_order; ?></label>

                                                <div class="col-sm-10">
                                                    <input type="text" name="sort_order" value="<?php echo $sort_order; ?>"
                                                           placeholder="<?php echo $entry_sort_order; ?>" class="form-control"
                                                           id="input-sort-order" />
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label"><?php echo $entry_status; ?></label>

                                                <div class="col-sm-10">
                                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                        <?php if($status) : ?>
                                                        <label class="btn btn-outline-secondary active"><input type="radio"
                                                                                                               name="status" value="1"
                                                                                                               checked="ckecked" /><?php echo $text_enabled; ?></label>
                                                        <label class="btn btn-outline-secondary"><input type="radio"
                                                                                                        name="status" value="0" /><?php echo $text_disabled; ?></label>
                                                        <?php else : ?>
                                                        <label class="btn btn-outline-secondary"><input type="radio"
                                                                                                        name="status" value="1" /><?php echo $text_enabled; ?></label>
                                                        <label class="btn btn-outline-secondary active"><input type="radio"
                                                                                                               name="status" value="0"
                                                                                                               checked="ckecked" /><?php echo $text_disabled; ?></label>
                                                        <?php endif; ?>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab-data">
                                    <fieldset>
                                        <legend><?php echo $entry_image; ?></legend>
                                        <div class="row">
                                            <div class="col-sm-4 col-md-3 mb-3">
                                                <div class="card image">
                                                    <a href="" id="thumb-image" data-toggle="image" class="img-thumbnail"><img src="<?php echo $thumb; ?>" alt="" title="" data-placeholder="<?php echo $placeholder; ?>" width="100" height="100"></a>
                                                    <input type="hidden" name="image" value="<?php echo $image; ?>" id="input-image">
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="table-responsive">
                                            <table id="images" class="table table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <td class="text-left"><?php echo $entry_additional_image; ?></td>
                                                        <td class="text-left"><?php echo $entry_sort_order; ?></td>
                                                        <td></td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <?php $image_row = 0; ?>
                                                    <?php foreach($project_images as $project_image) : ?>
                                                    <tr id="image-row<?php echo $image_row; ?>">
                                                        <td>
                                                            <div class="card image">
                                                                <img src="<?php echo $project_image['thumb']; ?>" alt="" title="" id="thumb-image<?php echo $image_row; ?>" data-placeholder="<?php echo $placeholder; ?>" class="card-img-top"/> <input type="hidden" name="project_image[<?php echo $image_row; ?>][image]" value="<?php echo $project_image['image']; ?>" id="input-image<?php echo $image_row; ?>"/>
                                                            </div>
                                                        </td>
                                                        <td class="text-left">
                                                            <input type="text" name="project_image[<?php echo $image_row; ?>][sort_order]" value="<?php echo $project_image['sort_order']; ?>" placeholder="<?php echo entry_sort_order; ?>" class="form-control">
                                                        </td>
                                                        <td class="text-left">
                                                            <button type="button" onclick="$('#image-row<?php echo $image_row; ?>').remove();" data-toggle="tooltip" title="<?php echo $button_remove; ?>" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button>
                                                        </td>
                                                    </tr>
                                                    <?php $image_row = $image_row + 1; ?>
                                                    <?php endforeach; ?>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="2"></td>
                                                        <td class="text-right">
                                                            <button type="button" onclick="addImage();" data-toggle="tooltip" title="<?php echo $button_add; ?>" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="tab-pane" id="tab-seo">
                                    <div class="alert alert-info"><i class="fa fa-info-circle"></i>
                                        <?php echo $text_keyword; ?></div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <td class="text-left"><?php echo $entry_language; ?></td>
                                                    <td class="text-left"><?php echo $entry_keyword; ?></td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <?php foreach($languages as $language) : ?>
                                                <tr>
                                                    <td class="text-left"><?php echo $language['name']; ?></td>
                                                    <td class="text-left">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <img src="language/<?php echo $language['code']; ?>/<?php echo $language['code']; ?>.png"
                                                                         alt="<?php echo $language['code']; ?>"
                                                                         title="<?php echo $language['name']; ?>" />
                                                                </span>
                                                            </div>
                                                            <input type="text"
                                                                   name="project_seo_url[<?php echo $language['language_id']; ?>]"
                                                                   value="<?php if(isset($project_seo_url[$language['language_id']])) : ?><?php echo $project_seo_url[$language['language_id']]; ?><?php endif; ?>"
                                                                   placeholder="<?php echo $entry_keyword; ?>"
                                                                   class="form-control" />
                                                        </div>
                                                        <?php if(isset($keyword_err[$language['language_id']])) : ?>
                                                        <div class="invalid-tooltip">
                                                            <?php echo $keyword_err[$language['language_id']]; ?></div>
                                                        <?php endif; ?>
                                                    </td>
                                                </tr>
                                                <?php endforeach; ?>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<?php echo $footer; ?>
<!-- iCheck for checkboxes and radio inputs -->
<!-- <link rel="stylesheet" href="view/dist/plugins/iCheck/all.css"> -->
<!-- iCheck 1.0.1 -->
<!-- <script src="view/dist/plugins/iCheck/icheck.min.js"></script> -->
<!--<script type="text/javascript">
    $('input[name=\'path\']').autocomplete({
        'source': function (request, response) {
            $.ajax({
                url: 'index.php?url=catalog/project/autocomplete&user_token=' + getURLVar('user_token') + '&filter_name=' + encodeURIComponent(request),
                dataType: 'json',
                success: function (json) {
                    json.unshift({
                        project_id: 0,
                        title: 'None'
                    });

                    response($.map(json, function (item) {
                        return {
                            label: item['title'],
                            value: item['project_id']
                        }
                    }));
                }
            });
        },
        'select': function (item) {
            $('input[name=\'path\']').val(item['label']);
            $('input[name=\'parent_id\']').val(item['value']);
        }
    });
</script>-->
<script type="text/javascript">
    $('#language li:first-child a').tab('show');
</script>

<script type="text/javascript">
    var image_row = '<?php echo $image_row; ?>';

    function addImage() {
        html = '<tr id="image-row' + image_row + '">';
        html += '<td><div class="card image">';
        html += '<a href="" id="thumb-image' + image_row + '"data-toggle="image" class="img-thumbnail"><img src="<?php echo $placeholder; ?>" alt="" title="" data-placeholder="<?php echo $placeholder; ?>"  class="card-img-top"/></a><input type="hidden" name="project_image[' + image_row + '][image]" value="" id="input-image' + image_row + '" /></td>';
        html += '<td class="text-left"><input type="text" name="project_image[' + image_row + '][sort_order]" value="0" placeholder="<?php echo $sort_order; ?>" class="form-control" /></td>';
        html += '<td class="text-right"><button type="button" onclick="$(\'#image-row' + image_row + '\').remove();" data-toggle="tooltip" title="<?php echo $button_remove; ?>" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
        html += '</tr>';

        $('#images tbody').append(html);

        image_row++;
    }
</script>